.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background: LINEAR-GRADIENT(206deg, #f3b1cd, #f8d7e8, #f3b1cd);
  backdrop-filter: blur(10px);
  text-align: left;
  height: 60px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-content: center;
  box-sizing: border-box;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.47);
  padding: 0 10px;
}

.header > div {
  display: flex;
  align-items: center;
}

.left {
  text-align: left;
}

.party__time {
  margin: 30px 0px;
}

.bathParties > .left > h1 {
  color: var(--text);
}

.header .logo {
  height: 43px;
  margin-left: 8px;
}

.header .hamburger .symbol {
  font-size: 24px;
}

.header .logo img {
  max-height: 100%;
}

.player .title {
  font-size: 14px;
  font-weight: 700;
}

.player .new-badge {
  font-size: 9px;
  color: white;
  background: #ff7533;
  padding: 1px 3px;
  border-radius: 3px;
  position: relative;
  top: -2px;
}

.nav a {
  text-decoration: none;
  font-family: "Grandstander", cursive;
  font-size: 24px;

  padding: 8px;
  font-weight: 700;
  transition: all 0.1s;
  color: var(--text);
}

a {
  color: white;
  cursor: url(/public/images/cursor.svg), auto;
}

.nav {
  margin: 0 2px 0 8px;
  display: flex;
  gap: 4px;
  font-weight: 900 !important;
}

.player {
  height: 40px;
  margin-left: 2px;
  display: flex;
  align-items: center;
  font-size: 10px;
}

.header .icon {
  padding: 6px 3px;
  display: flex;
  transition: all 0.1s;
}

.player .icon {
  cursor: url(/public/images/cursor.svg), auto;
  margin-right: 4px;
}

.player .icon img[icon="on"] {
  display: none;
  animation-name: beat;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.header .right {
  justify-content: flex-end;
}

.header > div {
  display: flex;
  align-items: center;
}

.button {
  color: var(--text);
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;

  text-transform: uppercase;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  padding: 14px 30px;

  margin: 10px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid #400000;
  border-top-color: rgb(64, 0, 0);
  border-top-style: solid;
  border-top-width: 2px;
  border-right-color: rgb(64, 0, 0);
  border-right-style: solid;
  border-right-width: 2px;
  border-bottom-color: rgb(64, 0, 0);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-color: rgb(64, 0, 0);
  border-left-style: solid;
  border-left-width: 2px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  cursor: url(/public/images/cursor.svg), auto;
  box-shadow: inset 0 -8px rgb(64 0 0 / 10%);
  transition: all 0.05s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header .button {
  margin: 0;
  line-height: 40px;
}

.button.small {
  height: auto;
  padding: 10px 12px;

  box-shadow: inset 0 -6px rgb(64 0 0 / 10%);
  margin: 6px;
  font-size: 14px;
  height: 40px;
}

/* //bottom //*/

.wrap {
  max-width: 1800px;
  margin: 0 auto;
  overflow: hidden;
}

.mainVideo {
  width: 100%;
  display: block;
}

.mainText {
  margin-top: -2px;
}

.block {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 70px 30px;
  border: 5px solid var(--text);
  position: relative;
  border-radius: 30px;
  background: #ffdfba;
  margin-top: 30px;
}
.block > h1 {
  color: var(--text);
}
.block > h2 {
}

.simulationImages img {
  display: block;
  max-width: 100%;
  transition: all 0.1s;
}

.simulationImages .button {
  margin: 0;
  margin-top: 10px;
}

.button.red {
  background-color: var(--text);
  transition: 0.25s;
  border: none;
  color: white;
  border: 3px solid transparent;
}

.button.red:hover {
  box-shadow: 0px 20px 40px #d7a3ff4e;
  background: #baffc9;
  color: var(--text);
  border: 3px solid var(--text);
}

.simulationImages .images {
  border: 2px solid #400000;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  max-width: 600px;
  position: relative;
}

.left p {
  margin-left: 0;
  margin-right: 0;
}

p {
  line-height: 150%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.bathParties {
  background: #baffc9;
  border-radius: 25px;
  text-align: left;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  padding: 85px 40px;
  border: 5px solid var(--text);
  margin-top: 30px;
  /* box-shadow: 0px 40px 60px var(--text); */
}

.simulationImages {
  padding-left: 4%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* //freeze css */

.wrap {
  max-width: 1800px;
  margin: 0 auto;
  overflow: hidden;
}

.block1 {
  padding: 50px 0px;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  position: relative;
  margin-top: 2%;
  padding: 50px 10px;
  border: 5px solid var(--text);
  margin-top: 30px;
  border-radius: 30px;

  background-color: #ffffba;
}

.roadmap__tilte > Title {
  color: #d7a3ff;
}

/* //footer */

.footer {
  font-size: 12px;
  margin-top: 20px;
  padding: 14px 14px 32px 14px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  text-align: center;
  opacity: 0.9;
}

/* //menue */
.menu.show {
  opacity: 1;
  z-index: 3;
  transform: scaleY(1);
}

.menu {
  position: fixed;
  top: 70px;
  left: 10px;
  width: 260px;
  background: #400000;
  z-index: -1;
  z-index: 3;
  transition: all 0.2s;
  opacity: 0;
  transform-origin: 0% 0%;
  transform: scaleY(0);
  border-radius: 10px;
  overflow: hidden;
}

.menu a {
  color: white !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 10px 12px;
  font-size: 18px;
  border: 2px solid #400000;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  transition: all 0.1s;
  border-radius: 9px;
}

.menu a.small {
  font-size: 14px;
  padding: 8px 12px;
}

.header .icon {
  padding: 6px 3px;
  display: flex;
  transition: all 0.1s;
}

.header .icon:hover {
  transform: scale(1.1);
}

.menu a img {
  filter: invert(1) brightness(2);
  width: 20px;
  margin-right: 5px;
}

.menu a:hover img {
  filter: none;
}

.menu a:hover {
  background: #ffe233 !important;
  color: #400000 !important;
  border-bottom: 2px solid #400000 !important;
}
