.party__time {
  margin: 30px 0px;
}

.bathParties > .left > h1 {
  color: var(--text);
}

.logo > img {
  border-radius: 50%;
}

.player .new-badge {
  font-size: 9px;
  color: white;
  background: #ff7533;
  padding: 1px 3px;
  border-radius: 3px;
  position: relative;
  top: -2px;
}

.nav a {
  text-decoration: none;
  font-family: "Grandstander", cursive;
  font-size: 24px;
  padding: 8px;
  font-weight: 700;
  transition: all 0.1s;
  color: var(--text);
}

a {
  color: white;
}

.nav {
  margin: 0 2px 0 8px;
  display: flex;
  gap: 4px;
  font-weight: 900 !important;
}

/* .header .right1 {
  justify-content: flex-end;
}

.header > div {
  display: flex;
  align-items: center;
} */

.button {
  font-family: "Grandstander";
  color: var(--text);
  text-transform: uppercase;
  padding: 14px 30px;
  margin: 10px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid #400000;
  border-top-color: rgb(64, 0, 0);
  border-top-style: solid;
  border-top-width: 2px;
  border-right-color: rgb(64, 0, 0);
  border-right-style: solid;
  border-right-width: 2px;
  border-bottom-color: rgb(64, 0, 0);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-color: rgb(64, 0, 0);
  border-left-style: solid;
  border-left-width: 2px;
  cursor: url(/public/images/cursorr2.svg), auto;
  box-shadow: inset 0 -8px rgb(64 0 0 / 10%);
  transition: all 0.05s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  outline: none;
}

.bn__header {
  outline: none;
  font-family: "Grandstander";
  color: var(--text);
  text-transform: uppercase;
  background-color: #ffdfba;
  padding: 10px 26px;
  margin: 10px 10px 10px 30px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid #400000;
  border-top-color: rgb(64, 0, 0);
  border-top-style: solid;
  border-top-width: 2px;
  border-right-color: rgb(64, 0, 0);
  border-right-style: solid;
  border-right-width: 2px;
  border-bottom-color: rgb(64, 0, 0);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-color: rgb(64, 0, 0);
  border-left-style: solid;
  border-left-width: 2px;
  cursor: url(/public/images/cursor.svg), auto;
  box-shadow: inset 0 -8px rgb(64 0 0 / 10%);
  transition: all 0.05s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.button:focus {
  outline: none;
  box-shadow: inset 0 -8px rgb(64 0 0 / 10%);
}

.bn__header:focus {
  outline: none;
}

/* .header .button {
  margin: 0;
  line-height: 40px;
} */

.button.small {
  height: auto;
  padding: 10px 12px;

  box-shadow: inset 0 -6px rgb(64 0 0 / 10%);
  margin: 6px;
  font-size: 14px;
  height: 40px;
}

/* //bottom //*/

.wrap {
  max-width: 1800px;
  margin: 0 auto;
  overflow: hidden;
}

.mainVideo {
  width: 100%;
  display: block;
}

.mainText {
  margin-top: -2px;
}

.block {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 70px 30px;
  border: 5px solid var(--text);
  position: relative;
  border-radius: 30px;
  background: #ffdfba;
  margin-top: 30px;
}
.block > h1 {
  color: var(--text);
}
.block > h2 {
}

.simulationImages img {
  display: block;
  max-width: 100%;
  transition: all 0.1s;
}

.simulationImages .button {
  margin: 0;
  margin-top: 10px;
}

.button.red {
  background-color: var(--text);
  transition: 0.25s;
  border: none;
  color: white;
  border: 3px solid transparent;
}

.button.red:hover {
  box-shadow: 15px 14px 43px #ffffffd1;
  background: #fffabb;
  color: var(--text);
  border: 3px solid var(--text);
}

.simulationImages .images {
  border: 2px solid #400000;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  max-width: 600px;
  position: relative;
}

.left p {
  margin-left: 0;
  margin-right: 0;
}

p {
  line-height: 150%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.bathParties {
  /* background: #baffc9; */
  background: #fffabb;
  border-radius: 25px;
  text-align: left;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  padding: 85px 40px;
  border: 5px solid var(--text);
  margin-top: 30px;
  display: flex;
  align-items: center;
  /* box-shadow: 0px 40px 60px var(--text); */
}

.simulationImages {
  padding-left: 4%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* //freeze css */

.wrap {
  max-width: 1800px;
  margin: 0 auto;
  overflow: hidden;
}

.block1 {
  padding: 50px 0px;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  position: relative;
  margin-top: 2%;
  padding: 50px 10px;
  border: 5px solid var(--text);
  margin-top: 30px;
  border-radius: 30px;

  background-color: #ffffba;
}

.roadmap__tilte > Title {
  color: #d7a3ff;
}

/* //footer */

.footer {
  font-family: "Grandstander";
  font-size: 14px;
  margin-top: 20px;
  padding: 16px 30px 16px 30px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  text-align: center;
  opacity: 0.9;
  color: var(--text);
  margin-bottom: 5px;
}

.footer > a {
  font-size: 14px;
  color: var(--text);
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

/* //menue */
.menu.show {
  opacity: 1;
  z-index: 3;
  transform: scaleY(1);
}

.menu {
  position: fixed;
  top: 70px;
  left: 10px;
  width: 260px;
  background: #400000;
  z-index: -1;
  z-index: 3;
  transition: all 0.2s;
  opacity: 0;
  transform-origin: 0% 0%;
  transform: scaleY(0);
  border-radius: 10px;
  overflow: hidden;
}

.menu a {
  color: white !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 10px 12px;
  font-size: 18px;
  border: 2px solid #400000;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  transition: all 0.1s;
  border-radius: 9px;
}

.menu a.small {
  font-size: 14px;
  padding: 8px 12px;
}

/* .header .icon {
  padding: 6px 3px;
  display: flex;
  transition: all 0.1s;
}

.header .icon:hover {
  transform: scale(1.1);
} */

.menu a img {
  filter: invert(1) brightness(2);
  width: 20px;
  margin-right: 5px;
}

.menu a:hover img {
  filter: none;
}

.menu a:hover {
  background: #ffe233 !important;
  color: #400000 !important;
  border-bottom: 2px solid #400000 !important;
}

nav.navbars {
  background: var(--text);
  color: white;
}

.navbars {
  /* position: relative;
  box-shadow: rgb(164 80 18) 0px 5px 15px;
  z-index: 10000; */

  font-family: "Grandstander";

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  text-align: left;
  border-bottom: 2px solid #400000;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  box-sizing: border-box;
  padding: 0 10px;
}

.nav-links {
  color: #ffdfba;
  font-size: 25px;
  font-weight: 600;
}

a:hover {
  color: #fffabb;
}

.nav-items {
  display: flex;
}

/* .logo {
    width: 356px;
  } */

.logo {
  width: 63px;
  border-radius: 50%;
  margin-right: 10px;
}

.logo__title {
  font-size: 43px;
  font-weight: 600;
  margin-top: 3px !important;
  color: white;
}

.logo__title:hover {
  color: #ffdfba;
  cursor: pointer;
}

.nav__icon {
  font-size: 30px;
  color: #ffdfba;
}

a {
  line-height: normal !important;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  padding: 0.7rem 0.9rem;
  color: white;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='grey' d='M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z'%3E%3C/path%3E%3C/svg%3E");
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-size: 100% 100%;
}

ul.links-lists {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.nav-items {
  list-style-type: none;
  margin-left: 40px;
}

a {
  text-decoration: none;
  font-size: 24px;
}

nav a.is-active {
  color: var(--secondary);
}

.active {
  color: var(--secondary);
}

.container {
  width: 60%;
  margin: 0 auto;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media only screen and (min-width: 992px) {
  .navbar-toggler {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-toggler {
    display: block;
  }

  div.navbar-links {
    margin-right: 0;
    position: absolute;
    width: 75%;
    background: var(--text);
    z-index: 130;
    margin-top: 2rem;
    float: right;
    right: 0;
    height: 82vh;
    padding-top: 47px;
    transition: all ease-in-out 0.3s;
    align-self: flex-start;
    border-top: 2px solid rgb(255, 255, 255);
  }

  @media screen and (max-width: 768px) {
    div.navbar-links {
      top: 48px !important;
      border-top: 2px solid #ffffff !important;
    }
  }

  ul.links-lists {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  .navbar-links.menu-collapse {
    margin-right: -75%;
    width: 0;
    overflow: hidden;
  }

  li.nav-items {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0;
  }

  li.nav-items a.nav-links {
    padding: 10px 20px;
  }

  .menu-collapse {
    margin-right: -75%;
    width: 0;
    overflow: hidden;
  }
}

.wrap__term {
  max-width: 1800px;
  /* margin: 0 auto; */
  overflow: hidden;
}
