* {
  cursor: url(/public/images/cursorr2.svg), auto;
}

:root {
  --primary: #ffca6a;
  --secondary: #b6dd58;
  --new: #6300a8;
  --old: #1f7210;
  --white: #ffffff;
  --dark: black;
  --text: #400000;
  /* #1f7210 */
}

/* Scroll bar */

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--text);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 5px;
  box-shadow: inset 2px -5px 5px var(--primary);
}

body {
  background: LINEAR-GRADIENT(206deg, #f7a5c8, #f3c3dc, #ff9cc6);

  color: #400000;

  text-align: center;
  font-size: 24px;
  padding-top: 59px;
}

h1,
h2,
h3 {
  font-family: "Grandstander", cursive;
}

h4,
h5,
h6,
p {
  font-family: "Grandstander", cursive;
  font-size: 22px;
}

h1 {
  font-size: 70px;
  font-weight: 900;
  line-height: 80%;
  margin-bottom: 30px;
}

h2 {
  font-size: 30px;
}

.left p {
  margin-left: 0;
  margin-right: 0;
}

/* //custom */

.margin_cont {
  margin: 0% 4%;
}

/* //showcase css */

.container_showcase {
  width: 100% !important;
}

.showcase_div {
  background-color: var(--secondary);
}

.showcase_bot {
  background-color: #ffffba;
  line-height: 1.1;
}

.showcase_title {
  font-size: 17px;
  font-family: "Readex Pro", sans-serif;
  margin-bottom: 12px;
}

.showcase_text1 {
  font-size: 15px;
}

.img_eth {
  width: 18px;
}

.showcase_text2 {
  font-size: 15px;
}

/* 
//fasqs */

.styles_faq-row-wrapper__3vA1D .styles_faq-row__2YF3c {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 2px solid var(--text) !important;
}

.faq-title > h2 {
  font-weight: 900;
  font-size: 70px;
}

.styles_faq-row-wrapper__3vA1D {
  background-color: transparent !important;
  padding: 5px 20px;
}

.styles_row-title-text__1MuhU {
  color: #ffffff;
}

.styles_faq-row-wrapper__3vA1D
  .styles_row-body__1NvUo
  .styles_faq-row__2YF3c
  .styles_row-title__1YiiY {
  cursor: inherit !important;
}

.styles_row-content-text__2sgAB.row-content-text {
  text-align: start;
}

div#react-faq-rowtitle-1 {
  font-family: "Grandstander", cursive;
  text-transform: uppercase;
  color: #400000;
  font-size: 30px;
  font-weight: 700;
}

div#react-faq-rowtitle-2 {
  font-family: "Grandstander", cursive;
  text-transform: uppercase;
  color: #400000;
  font-size: 30px;
  font-weight: 700;
}

div#react-faq-rowtitle-3 {
  font-family: "Grandstander", cursive;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: #400000;
}

div#react-faq-rowtitle-4 {
  font-family: "Grandstander", cursive;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: #400000;
}

div#react-faq-rowtitle-5 {
  font-family: "Grandstander", cursive;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: #400000;
}

div#react-faq-rowtitle-6 {
  font-family: "Grandstander", cursive;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: #400000;
}

div#react-faq-rowtitle-7 {
  font-family: "Grandstander", cursive;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: #400000;
}

.styles_faq-row-wrapper__3vA1D h2 {
  margin: 0;
  color: var(--text) !important;
  font-size: 80px !important;
  color: var(--text);
  margin-bottom: 15px !important;
}

.styles_row-content-text__2sgAB.row-content-text {
  color: #400000 !important;
  transition: all 0.6s !important;
  font-size: 22px !important;
  font-family: "Grandstander";
}

section.faq-row.styles_faq-row__2YF3c {
  border: 2px solid transparent;
  border-bottom: 2px solid var(--text);
}

.styles_row-content-text__2sgAB.row-content-text {
  padding-bottom: 30px !important;
}

.styles_faq-row-wrapper__3vA1D .styles_faq-row__2YF3c {
  padding: 50px 10px;
}

/* //showcase */
.showcase_div {
  overflow: hidden;
}

/* //team-css */

.st__Link {
  font-size: 22px !important;
  text-decoration: underline;
  font-weight: 900 !important;
  transition: all 0.6s !important;
}

.st__Link:hover {
  color: var(--text) !important;
  transform: scale(1.1) !important;
}

.block__footer {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 70px 30px;
  border: 5px solid var(--text);
  position: relative;
  border-radius: 30px;
  background: #ffdfba;
  margin-top: 30px;
  background: #ffdfba;
  display: flex;
  align-items: center;
}

.p_team {
  line-height: 150%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.teamGrid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(
      0,
      1fr
    );
  grid-column-gap: 5%;
  padding: 20px 30px;
}

.teamGrid .avatar:hover {
  transform: scale(1.03);
}

.teamGrid .avatar {
  display: block;
  max-width: 100%;
  border-radius: 100%;
  border: 2px solid #400000;
  transition: all 0.1s;
}

.teamGrid a {
  text-decoration: none !important;
}

.avatar {
  width: 100% !important;
}

.teamGrid h2 {
  margin: 20px 0 0;
}

.teamGrid .handle {
  margin-top: 3px;
  font-size: 14px;
}

/* media queries */

@media screen and (max-width: 460px) {
  .header .player .info {
    display: none;
  }
}
@media screen and (max-width: 840px) {
  .nav {
    display: none !important;
  }
}

@media screen and (max-width: 1000px) {
  .styles_faq-row-wrapper__3vA1D
    .styles_row-body__1NvUo
    .styles_faq-row__2YF3c
    .styles_row-content__QOGZd
    .styles_row-content-text__2sgAB {
    padding: 0px !important;
    font-size: 18px !important;
  }

  .bathParties {
    flex-direction: column;
  }

  h1 {
    font-size: 50px;
  }

  .teamGrid {
    margin-bottom: -20px;
  }
  .teamGrid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-column-gap: 10%;
  }

  .teamGrid .member {
    margin-bottom: 30px;
  }

  .block {
    padding: 40px 20px !important;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #400000;
    border-top: 2px solid #400000;
    margin: 0;
    margin-top: -2px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }
}

@media screen and (max-width: 48em) {
  .kXMyEy {
    width: 95% !important;
  }
}

@media (max-width: 48em) {
  .kXMyEy {
    width: 95% !important;
  }
}

@media screen and (max-width: 800px) {
  div#react-faq-rowtitle-1 {
    font-family: "Grandstander", cursive;
    text-transform: uppercase;
    color: #400000;
    font-size: 24px !important;
    font-weight: 700;
    text-align: left;
  }

  .time-container {
    width: 100%;
    padding-top: 0px;
    left: 0%;
    padding: 10px 10px !important;
    position: relative;
    background-color: inherit;
  }

  div#react-faq-rowtitle-2 {
    font-family: "Grandstander", cursive;
    text-transform: uppercase;
    color: #400000;
    font-size: 24px !important;
    font-weight: 700;
    text-align: left;
  }

  div#react-faq-rowtitle-3 {
    font-family: "Grandstander", cursive;
    text-transform: uppercase;
    color: #400000;
    font-size: 24px !important;
    font-weight: 700;
    text-align: left;
  }

  div#react-faq-rowtitle-4 {
    font-family: "Grandstander", cursive;
    text-transform: uppercase;
    color: #400000;
    font-size: 24px !important;
    font-weight: 700;
    text-align: left;
  }

  div#react-faq-rowtitle-5 {
    font-family: "Grandstander", cursive;
    text-transform: uppercase;
    color: #400000;
    font-size: 24px !important;
    font-weight: 700;
    text-align: left;
  }

  div#react-faq-rowtitle-6 {
    font-family: "Grandstander", cursive;
    text-transform: uppercase;
    color: #400000;
    font-size: 24px !important;
    font-weight: 700;
    text-align: left;
  }

  .phase__title {
    font-size: 26px !important;
    font-weight: 700;

    text-align: center;
  }

  div#react-faq-rowtitle-7 {
    font-family: "Grandstander", cursive;
    text-transform: uppercase;
    color: #400000;
    font-size: 24px !important;
    font-weight: 700;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .time-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .right {
    left: 0%;
  }
}
